<!DOCTYPE html>
<html>
  <head>
    <title>EzWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- 現在の HTML ページにある head タグとレスポンスの head タグを比べて違いがあればページ全体をリロードする -->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <!-- 非推奨だが、NodeJS 環境がないので CDN 経由で使う -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.24/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="mx-auto flex px-5">
      <div class="flash">
        <%= render "layouts/flash" %>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
